@charset "utf-8";


ul {
  font-size: 17px;
}
h3 {
  font-size: 25px;
}
body {
  background-color: #ccffff
}
font {
  color: #9999ff;
  size: 20px
}
.column {
  float: left;
  width: 44.44%;
  padding: 10px;
}
@media screen and (min-width: 500px) and (max-width: 700px)

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: left;
}
